<h1>Merci d'avoir rejoint Elec-G.fr</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A bientôt sur Elec-G.fr !
</p>
