{% extends 'base.html.twig' %}

{% block title %}| Contactez nous{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<main class="row contact">
  <section id="contact-block" class="my-5 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 block-overlay">
      <h1 class="text-center my-4">Contactez-moi !!</h1>
      <p class="text-center">Je travaille du lundi au vendredi de 8h à 19h</p>
      <ul class="col-12 contact-list">
          <li>
              <h2>Par téléphone</h2>
              <a class="btn btn-primary" href="tel:06 21 01 51 41">Appeler</a>
          </li>
          <li>
              <h2>Par email</h2>
              <a class="btn btn-primary" href="mailto:elecg71@outlook.fr">Envoyer un email</a>
          </li>
          <li>
              <h2>Où me trouver</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2738.1160255862314!2d4.404782315551245!3d46.66397037913357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f3b401f1b9f045%3A0x796283589921e656!2s100%20Chemin%20du%20Lavoir%2C%2071300%20Gourdon!5e0!3m2!1sfr!2sfr!4v1595413982343!5m2!1sfr!2sfr"  class="col-sm-12" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </li>
      </ul>

  </section>
</main>
{% endblock %}